@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap");

html {
    height: 100%;
    background: linear-gradient(-30deg, #ddd6f3 0%, #224354 100%);
    font-family: "Raleway", Arial, sans-serif;
}

.card {
    width: 450px;
    height: 300px;
    position: relative;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 40px 5px rgba(255, 255, 255, 0.4);
    background: #2e373e;
    transform-origin: center center 0px;
    transition: all 0.5s ease-out;
    animation: card-hover 3s ease-in-out infinite;
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    transform-style: preserve-3d;
    color: white;
}
.card.flipped {
    transform: perspective(1000px) rotateX(35deg) rotateY(184deg) rotateZ(30deg);
}
.card:hover {
    animation: unset;
    margin-top: 31vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.card:hover.flipped {
    transform: perspective(1000px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

@keyframes card-hover {
    0% {
        margin-top: 28vh;
    }
    50% {
        margin-top: 31vh;
    }
    100% {
        margin-top: 28vh;
    }
}

.front,
.back {
    position: absolute;
    width: 450px;
    height: 300px;
    background-color: #2e373e;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.front {
    z-index: 2;
    transition: all 0.35s;
}

.back {
    transform: rotateY(180deg);
}

#name {
    font-size: 32px;
    word-spacing: -0.1em;
    transition: transform 0.35s, color 0.35s;
}

.front-content {
    transition: all 0.35s;
}

#name::after {
    position: absolute;
    bottom: -10px;
    left: -72px;
    height: 2px;
    width: 300px;
    background: #fff;
    font-size: 12px;
    content: "";
    transition: transform 0.35s;
    transform: translate3d(-200%, 0, 0);
}

.front:hover #name {
    transform: translate3d(0, -50px, 0);
}

.front:hover #name::after {
    transform: translate3d(0, 0, 0);
}

.front p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.35s, transform 0.35s;
}

.front:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #B8B9D1;
}

.back p {
    padding: 5px;
    width: 320px;
    margin-top: 20px;
    border-left: 3px solid #B8B9D1;
    font-size: 12px;
}