html {
    height: 100%;
    background: linear-gradient(-30deg, #ddd6f3 0%, #224354 100%);
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto,
        Helvetica, Arial, sans-serif;
}

.card {
    width: 450px;
    height: 300px;
    position: relative;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 40px 2px rgba(255, 255, 255, 0.4);
    background: #2e373e;
    transform-origin: center center 0px;
    transition: all 0.5s ease-out;
    animation: card-hover 3s ease-in-out infinite;
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    transform-style: preserve-3d;
    color: white;
}
.card.flipped {
    transform: perspective(1000px) rotateX(35deg) rotateY(184deg) rotateZ(30deg);
}
.card:hover {
    animation: unset;
    margin-top: 31vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.card:hover.flipped {
    transform: perspective(1000px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

@keyframes card-hover {
    0% {
        margin-top: 28vh;
    }
    50% {
        margin-top: 31vh;
    }
    100% {
        margin-top: 28vh;
    }
}

.front,
.back {
    position: absolute;
    width: 450px;
    height: 300px;
    background-color: #2e373e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

